.grbUXA, .grbUXA * {
  box-sizing: border-box !important;
  outline: none !important;
}

.grbUXA, .grbUXA * {
  box-sizing: border-box !important;
  outline: none !important;
}

.bMsMvh .Title__VisitorCounterTitleComponent-sc-5x9hdv-0 {
  background-color: rgba(17, 17, 17, 0.06);
  color: rgb(17, 17, 17);
}

.dFtBdD {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  opacity: 0.65;
}

.bMsMvh .Title__VisitorCounterTitleComponent-sc-5x9hdv-0 svg {
  fill: rgb(17, 17, 17);
}

.dFtBdD svg {
  width: 100%;
  height: 100%;
}

.eqEAex .FirstCounter__TodayCounter-sc-xduxok-0 {
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
}

.dULQEE {
  display: flex;
  transition: opacity 0.1s ease 0s;
  position: static;
  width: 100%;
  opacity: 1;
  top: 0px;
  left: 0px;
}

.eqEAex .Counter__CounterComponent-sc-103kzvu-1 {
  font-size: 25.6px;
}

.dAFMGX {
  /* display: inline-flex;
  flex-direction: column;
  width: 100%;
  transition: opacity 0.2s ease 0s;
  opacity: 0; */
}

.eqEAex .Counter__CounterTitle-sc-103kzvu-0 {
  -webkit-box-pack: center;
  justify-content: center;
}

.dULQEE .Counter__CounterCount-sc-103kzvu-2 {
  height: 35.36px;
}

.dSSYgz {
  display: flex;
  position: absolute;
  transition: opacity 0.1s ease 0s;
  width: 800%;
  opacity: 0;
  top: 100%;
  left: 0px;
}

.eNwrxF {
  margin-top: 8px;
  height: 45px;
  width: 100%;
}

.eNwrxF svg {
  overflow: visible;
}

.ixLWnd .Counter__CounterComponent-sc-103kzvu-1 {
  margin-bottom: 16px;
  margin-right: 16px;
}