.copy {
  cursor: pointer;
}

.gvb-html-container {
  border: 1px solid rgb(85, 81, 255);
  color: rgb(85, 81, 255);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 10px 10px rgb(85, 81, 255);
  word-break: break-all;
}